<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- mode: side / over / push -->
  <!-- opened: true = 常に表示 -->
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <h3 matSubheader>Channels</h3>
      <mat-divider></mat-divider>
      <!-- routerLink ディレクティブでリンクを設定: `/channels/${channel}` を設定しているイメージっぽい -->
      <mat-list-item *ngFor="let channel of channels" [routerLink]="['channels', channel]">
        #{{ channel }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
    <!-- ルータ経由で呼び出されたコンポーネントがここに表示される -->
  </div>
</mat-sidenav-container>
